@import '../../../variables';

.container {
  padding-bottom: 90px;
}

h1 {
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 28px auto;
  text-align: center;
  color: $color-primary-1;
}
