@import '../../../variables';

article {
  margin-bottom: 20px;
  position: relative;
}

img {
  width: 100px;
  box-shadow: 0 3px 6px #000000;
}

button.delete-button {
  position: absolute;
  right: -11px;
  top: -11px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

svg {
  width: 18px;
  height: 18px;

  path {
    fill: $remove;
  }
}
