@import '../../../variables';

article {
  margin-bottom: 20px;
  position: relative;
}

img {
  width: 100px;
  box-shadow: 0 3px 6px #000000;
}

button.delete-button {
  position: absolute;
  right: -11px;
  top: -11px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

svg {
  width: 18px;
  height: 18px;

  path {
    fill: $remove;
  }
}

.wiggle.wiggle1 {
  animation-name: wiggle1;
  animation-iteration-count: infinite;
  transform-origin: 50% 10%;
}

.wiggle.wiggle2 {
  animation-name: wiggle2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 30% 5%;
}

@keyframes wiggle1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}
