@import '../../../variables';

.container {
  padding-bottom: 90px;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .edit-button,
  .done-button {
    margin: 14px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: $main-font;
    font-size: 0.625rem;
    text-transform: uppercase;
    color: $color-primary-1;
    border: none;
    background: $white;
    box-shadow: none;
  }
}

h1 {
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 28px auto;
  text-align: center;
  color: $color-primary-1;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 17px 75px 17px;
  justify-content: space-around;
}
