$color-primary: #461a81;
$color-primary-1: #391877;

$white: #ffffff;

// fonts
$main-font: 'Comfortaa', cursive;
$secondary-font: 'Roboto', sans-serif;
$secondary-font-light: 'Roboto Light Italic', sans-serif;
