$color-primary: #461a81;
$color-primary-1: #391877;
$error: #fe3f3f;
$active: #1fcd4c;

$white: #ffffff;
$grey: #f5f5f5;
$disabled: #debefe;

// fonts
$main-font: 'Comfortaa', cursive;
$secondary-font: 'Roboto', sans-serif;
$secondary-font-light: 'Roboto Light Italic', sans-serif;
