@import '../../../variables';

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 12px 46px;
  background-color: $grey;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  margin-left: 1rem;
  margin-bottom: 3px;
  width: 18px;
  height: 18px;

  path {
    fill: $color-primary;
  }
}

h4 {
  font-family: $main-font;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: $color-primary;
}

.list-size {
  font-family: $secondary-font-light;
  font-weight: 200;
  font-style: italic;
  font-size: 0.75rem;
  margin-right: 19px;
}

.movies {
  margin: 15px 0 15px 46px;

  img {
    width: 60px;
    margin-right: 8px;
  }
}
